name: .NET Build

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List files
        run: |
          pwd
          dir

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore NuGet packages
        run: nuget restore Week10_CET2007.sln

      - name: Build
        run: msbuild Week10_CET2007.sln /p:Configuration=Release

      - name: Test
        run: |
          & "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" "OrderServiceTests\bin\Release\OrderServiceTests.dll"
